<!-- The button to open modal -->

<!-- Put this part before </body> tag -->
<input type="checkbox" id="sign_in_modal" class="modal-toggle"/>
<div class="modal">
    <div class="modal-box relative">
        <h2 class="flex text-lg font-bold items-center justify-items-center">Pour se connecter!</h2>
        
        <div class="">
            <h3 class="font-bold py-2"> 👉Si vous élève </h3>
            <p class="">
                Entrez votre <span class="font-semibold">N° matricule</span> sans espace, <i class="underline bg-blue-200 px-1">Ex: 12457874m</i>
            </p>

            <p class="mb-4"> et le <span class="font-bold">N° tel</span>, <i class="underline bg-blue-200 px-1">Ex: 0584258085</i><br> Que vous avez utilisé lors de votre inscription sur le site.</p>
            
            <hr>
        </div>
        <div class="">
        <h3 class="font-bold py-2">👉 Si vous vous n'êtes pas élève </h3>

            <p class=""> Entrez votre <span class="font-semibold">Email</span>, <i class="underline">Ex: Lnclass@gmail.com</i></p>
            <p class="mb-4"> et votre <span class="font-bold">Mot de passe</span>,<br> Que vous avez utilisé lors de votre inscription sur le site.</p>
            
            <hr>
        </div>
        <div class="modal-action">
            <label for="sign_in_modal" class=" rounded-lg px-2 bg-blue-600 text-white ">OK j'ai compris!</label>
        </div>

    </div>
</div>





